
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;1,400&display=swap');

.App {
  text-align: center;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: gold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  background: linear-gradient(264.4deg, #5FBADF 46.57%, rgba(202, 34, 230, 0.65) 77.15%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.App-link:hover {
  transform: scale(1.8); 
  transition: 1s;
  border-color: #5FBADF;
  border-width: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
